@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about-hero {
  padding: 120px 0 160px;

  &__inner {
    @include container;
    display: flex;
    align-items: flex-start;
  }

  &__text {
    flex: 1;
  }

  &__label {
    @include section-label;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    color: $text-color;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  &__desc {
    font-size: 21px;
    color: $color-gray-400;
    line-height: 1.2;
  }

  &__image {
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
