@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contact-hero {
  &__inner {
    max-width: 1820px;
    margin: 40px auto 80px;
    background: linear-gradient(135deg, $color-primary 0%, #0a1230 100%);
    padding: 60px 70px;
    color: #fff;

    @include respond-to(lg) {
      margin: 20px auto 50px;
      border-radius: 30px;
      padding: 50px 40px;
    }

    @include respond-to(md) {
      padding: 40px 32px;
    }
  }
  &__label {
    @include section-label;
    color: rgba($bg-color, 0.6);
    margin-bottom: 20px;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;

    @include respond-to(lg) {
      font-size: $font-size-2xl;
    }
  }

  &__desc {
    font-size: 20px;
    color: $bg-color;
  }
}
